<!DOCTYPE html>
<html>
  <head>
    <title>Task Scheduler</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Task Scheduler</h1>
      <%- body %>
    </div>
  </body>
</html>
